streamlit
langchain
langchain_community
langchain_text_splitters
langchain_openai
langchain_chroma
langchain_core
protobuf==3.20.0
opentelemetry-api==1.7.0
opentelemetry-sdk==1.7.0
opentelemetry-exporter-otlp==1.7.0
